<div class="center">
  <h1 (click)="decremente()" id="error">{{nbr}}</h1>
  <div class="game"></div>
    <h2>{{lastUpdate | async}}</h2>
    <h1>Il y a un petit probleme non ?</h1>
    </div>

  <img  src="https://giphy.com/gifs/i2rNOf3b7vJgk/html5 "
        alt="un carre"
        id="faire_courir"
        [ngStyle]="{left: getPositionLeft()}">

    <!--
    "../../../../../assets/carre.jpg"
<iframe id="faire_courir" src="" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/nintendo-mario-bros-i2rNOf3b7vJgk">via GIPHY</a></p>
-->
