<div class="container">


    <div class="center">
        <h1 *ngIf="nbr >= 0" (click)="decremente()" id="error">{{get404()}}</h1>
        <h1 *ngIf="nbr < 0">
            <a href="https://www.youtube.com/watch?v=BydSwOPuhF0">Félicitations, cliquez ici !</a>
        </h1>
        <app-game></app-game>
        <h1 class="blanc">Il y a un petit probleme non ?</h1>
    </div>
</div>
<!--
    "../../../../../assets/carre.jpg"
<iframe id="faire_courir" src="" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/nintendo-mario-bros-i2rNOf3b7vJgk">via GIPHY</a></p>
-->
