<nav class="navbar navbar-dark navbar-expand-lg bg-dark" id="mainNav">
    <div class="container"><span class="navbar-brand">eConomii</span><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Accueil</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/food']" routerLinkActive="active" >Alimentation</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/logement']" routerLinkActive="active" >Logement</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/budget']" routerLinkActive="active">Budget</a></li>
            </ul>
        </div>
    </div>
</nav>