<header class="masthead" style="background-image:url('assets/img/header-bg.jpg');">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span>Bienvenue sur notre service</span></div>
            <div class="intro-heading text-uppercase"><span>COmmencez à bien gerer votre budget</span></div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" role="button" href="#services">Commencez !</a>
        </div>
    </div>
</header>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Services</h2>
                <h3 class="text-muted section-subheading">Voici ce que nous pouvons vous apporter !</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i></span>
                <h4 class="section-heading">Alimentation</h4>
                <p class="text-muted">Gères ton alimentation, cherche les meilleurs bons plans pour remplir ton frigo !</p>
            </div>
            <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-home fa-stack-1x fa-inverse"></i></span>
                <h4 class="section-heading">Logement</h4>
                <p class="text-muted">Gères ta colocation, trouve un logement pas trop cher bref, économise !</p>
            </div>
            <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span>
                <h4 class="section-heading">Budget</h4>
                <p class="text-muted">Gères ton budget, prévois les dépenses futures, et ne soit plus en manque de money !</p>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4"><span class="copyright">FireOwls - Nuit de l'info 2019</span></div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-git-square"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">Tous droits reservés</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
